<ol class="post-list">
  {{#each posts as |post|}}
  <li>
    {{> post-info post }}
  </li>
  {{/each}}
</ol>

{{#if searchResults}}
<ol>
  {{#each searchResults as |book| }}
    <li>
      <div>
        {{book.title}}

        <p>{{book.subTitle}}</p>
        <p>{{book.description}}</p>
      </div>
    </li>
  {{/each}}
</ol>
{{/if}}