{{> post-info post}}

{{#if loggedIn}}
<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">add comment</button>
    <label>Rate:</label>
    <button type="button" class="upvote-btn">1</button>
    <button type="button" class="upvote-btn">2</button>
    <button type="button" class="upvote-btn">3</button>
    <button type="button" class="upvote-btn">4</button>
    <button type="button" class="upvote-btn">5</button>
  </div>
</form>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
<script src="/javascript/upvote.js"></script>
{{/if}}